.title {
  font-family: 'Bangers', cursive;
  font-size: 48px;
  color: #ffffff;
  -webkit-text-stroke: 0.4px #232C46;
  text-stroke: 0.4px #232C46;
}

.subtitle {
  font-family: "Comic Sans MS", cursive, sans-serif;	
  color: #ffffff;
  font-size: 16px;
}