.container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background-color: #B0C4F2;
  border-right: 2px solid #232C46;
  font-family: "Comic Neue", cursive, sans-serif;
  direction: rtl;
  position: relative;
  border-bottom-right-radius: 6px;
  z-index: 10;
}

.container > * { direction: ltr; }
.container::-webkit-scrollbar { width: 6px; }
.container::-webkit-scrollbar-track { background: transparent; }
.container::-webkit-scrollbar-thumb { background-color: #232C46; border-radius: 3px; }
.container { scrollbar-width: thin; scrollbar-color: #232C46 transparent; }

.container.collapsed {
  min-width: 50px;
  max-width: 50px;
  border-bottom-right-radius: 6px;
  height: 0;
  background-color: #91A8E0;
  border-left: 2px solid #232C46;
  border-right: 2px solid #232C46;  
  border-bottom: 2px solid #232C46;
}

.title {
  user-select: none;  
  font-weight: bold;
  text-align: center;
  border-right: 2px solid #232C46;
  padding: 8px;
  background-color: #f2f2f2;
  font-family: "Comic Neue", cursive, sans-serif;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.title.collapsed {
  min-width: 50px;
  max-width: 50px;
  border-left: 2px solid #232C46;
  border-right: 2px solid #232C46;  
  height: 13px;
  background-color: #91A8E0;  
}

.collapseButton {
  display: none; 
}

@media (max-width: 768px) {
  .collapseButton {
    display: inline-block;
    background: none;
    border: none;
    font-size: 1rem;
  }

  .userCount {
    margin-right: 12px; 
  }

  .userCount.collapsed {
    margin-right: 0; 
  }

  .container {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom: 2px solid #232C46;
  }
}